
.post-list {
    padding: 1rem;
    display: block;

}


.post-list-title {
    font-size: 2rem; 
    margin-bottom: 1rem;
    text-align: center; 
}


.post-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.2rem; 
    margin-bottom: 1.2rem; 
    max-width: 100%;
}


.post-list-item-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem; 
    text-align: center;
    word-break: break-word;
}


.post-list-item-image {
    width: 100%; 
    height: auto; 
    max-width: 10rem;
    margin-bottom: 1rem; 
    border-radius: 8px;
}


.post-list-item-content {
    margin-bottom: 0.5rem; 
    white-space: pre-wrap; 
    text-align: center;
    max-width: 80%;
    word-wrap: break-word;
}


.post-list-item-actions {
    display: flex; 
    gap: 10px; 
}


.post-list-item-edit {
    background: none; 
    border: none; 
    cursor: pointer; 
}

.post-list-item-delete {
    color: red;
    background: none;
    border: none; 
    cursor: pointer;
}

@media (max-width: 768px) {
    .post-list {
        padding: 0.5rem; 
        max-width: 100%;
    }

    .post-list-title {
        font-size: 1.5rem;
    }

    .post-list-item {
        padding: 1rem;
        margin-bottom: 1rem;
        max-width: 100%;
    }

    .post-list-item-title {
        font-size: 1.25rem;
        text-align: center;
        max-width: 100%;
    }

    .post-list-item-image {
        max-width: 70%; 
        height: auto; 
        margin-bottom: 0.8rem;
    }

    .post-list-item-content {
        max-width: 100%; 
        padding: 0 1rem;
        font-size: 0.9rem; 
    }

    .post-list-item-actions {
        justify-content: center;
        gap: 8px; 
    }

    .post-list-item-edit, .post-list-item-delete {
        font-size: 1.2rem; 
    }
}

@media (max-width: 480px) {
    .post-list {
        padding: 0.2rem;
    }

    .post-list-item {
        padding: 0.8rem;
        margin-bottom: 0.8rem;
    }

    .post-list-item-title {
        font-size: 1rem;
    }

    .post-list-item-image {
        max-width: 100%; 
    }

    .post-list-item-content {
        font-size: 0.85rem;
    }

    .post-list-item-actions {
        gap: 5px;
    }
}
