/* handles styles specific to the App component */

/*HOME PAGE*/
.h2home:hover{
  color: #ffffff;
  font-style: normal;
  text-shadow: 0 0 5px #ffffff;
  background-color: rgba(249, 248, 248, 0.1);
}

/* LOGIN SIGNUP*/
.gray{
  background: #EAEAEA;
  color:#676767;
}
.profileImage{
  width:8rem;
  height: 8rem;
  border-radius: 50%;
  cursor:pointer;
}