

/* LOGIN SIGNUP*/
.gray{
  background: #EAEAEA;
  color:#676767;
}
.profileImage{
  width:8rem;
  height: 8rem;
  border-radius: 50%;
  cursor:pointer;
}

/* NAVBAR*/
.mainNave{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}
ul{
  display: flex;
}
li{
  padding: 1rem;
}

